<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet Record</title>
    <link rel="icon" type="image/x-icon" href="./img/paw.png">
</head>

<style>
    body {
        background-image: url("./img/bg2.png");
        background-attachment: fixed;  
        background-size: cover;
        color: white;
    }
</style>

<body>
    <%- include("common/header") %>

    <h3>Add Pet Record</h3>
    
    <!-- Displays error message -->
    <% if (!result || result==="fail") { %>
        <p style="color: red;"><%= msg %></p>
    <% } %>

    <!-- Displays success message -->
    <% if (result) { %>
        <p style="color: lightgreen;">Pet added successfully!</p>
    <% } %>
    
    <form action="/add-pet" method="POST">
        <!-- ID -->
        <label for="userName">ID:</label><br>
        <input type="text" name="id" required placeholder="Pet's record ID?">

        <br><br>
        
        <!-- Name -->
        <label for="userName">Name:</label><br>
        <input type="text" name="name" required placeholder="Pet's name?">

        <br><br>

        <!-- Type -->
        <label for="userName">Type:</label><br>
        <input type="text" name="type" required placeholder="Cat? Dog?">

        <br><br>

        <!-- Age -->
        <label for="userName">Age:</label><br>
        <input type="text" name="age" required placeholder="How old is it?">

        <br><br>

        <!-- Description -->
        <label for="userName">Description:</label><br>
        <input type="text" name="desc" required placeholder="Any character traits?">

        <br><br>

        <button type="submit">Add Pet!</button>       
    </form>
</body>
</html>