<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption History</title>
    <link rel="icon" type="image/x-icon" href="./img/paw.png">
</head>

<style>
    body {
        background-image: url("./img/bg2.png");
        background-attachment: fixed;  
        background-size: cover;
        color: white;
    }
    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 10px 15px;
        text-align: left;
    }
</style>

<body>

    <%- include("common/header") %>

    <h3>Adoption History</h3>
  
    <table border="1">
        <tr>
            <th style="background-color: rgb(88, 87, 86);">Name</th>
            <th style="background-color: rgb(88, 87, 86);">Pet ID</th>
        </tr>

        <% adoptedList.forEach(adopted => { %>
            <tr>
                <td><%= adopted.userName %></td>
                <td><%= adopted.petId %></td>
            </tr>
        <% }) %>
        
    </table>
    
</body>