<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="./img/paw.png">
</head>

<style>
    body {
        background-image: url("./img/bg2.png");
        background-attachment: fixed;  
        background-size: cover;
        color: white;
    }
</style>

<body>
    <% if (!userName || errors.length > 0) { %>
        <!-- Not submitted or got errors. Display them. -->
        <ul style="color: red">
            <% errors.forEach(error => { %>
                <li><%= error %></li>
            <% }) %>
        </ul>

        <h1>Login</h1>

        <p>Welcome back! 😄</p>

        <form action="/login" method="post">
            <!-- Username -->
            <label for="userName">Username:</label><br>
            <input type="text" name="userName" value="<%= userName %>" required>

            <br><br>
            
            <!-- Password -->
            <label for="password">Password:</label><br>
            <input type="password" name="password" required>

            <br><br>

            <button type="submit">Login</button>

            <br><br>

            <em><p>Not an existing user? <a href="/signup" style="color: white;"> Sign up </a>instead</p></em>
        </form>

    <% } else { %>
        User
        <%= userName %>
        is now logged in.
    <% } %>
</body>
</html>