<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet</title>
</head>

<style>
    /* Unvisited link */
    a:link {
        color: white;
    }

    /* Visited link */
    a:visited {
        color: goldenrod;
    }

    /* Mouse over link */
    a:hover {
        color: cyan;
    }
</style>

<body>
  <nav>
    <a href="/">Home</a> | 
    <a href="/pet-list">Pet Records</a> | 
    <a href="/add-pet">Add Pet Record</a> | 
  </nav>
  <hr>
</body>
</html>